<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Apc>
            <version>0.1.0</version>
        </Inchoo_Apc>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Apc before="Mage_Adminhtml">Inchoo_Apc_Adminhtml</Inchoo_Apc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>