<?xml version="1.0"?>
<config>
    <modules>
        <Buric_Apc>
            <version>1.0.0</version>
        </Buric_Apc>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Buric_Apc before="Mage_Adminhtml">Buric_Apc_Adminhtml</Buric_Apc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>