<?xml version="1.0"?>
<config>
    <modules>
        <Buric_Apc>
            <version>2.0.0</version>
        </Buric_Apc>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Buric_Apc before="Mage_Adminhtml">Buric_Apc_Adminhtml</Buric_Apc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <buric_apc>
                <class>Buric_Apc_Model</class>
            </buric_apc>
        </models>
    </global>
    <adminhtml>
        <events>
            <controller_action_postdispatch_adminhtml_cache_flushAll>
                <observers>
                    <buric_apc>
                        <type>singleton</type>
                        <class>buric_apc/observer</class>
                        <method>clearApc</method>
                    </buric_apc>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushAll>
            <controller_action_postdispatch_adminhtml_cache_flushSystem>
                <observers>
                    <buric_apc>
                        <type>singleton</type>
                        <class>buric_apc/observer</class>
                        <method>clearApc</method>
                    </buric_apc>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushSystem>
            <core_block_abstract_to_html_after>
                <observers>
                    <buric_apc>
                        <type>singleton</type>
                        <class>buric_apc/observer</class>
                        <method>injectHtml</method>
                    </buric_apc>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
</config>
